#popup {
    width:380px; position: relative; background:rgb(59, 49, 44);
    box-shadow:10px 10px 15px rgba(163, 131, 72,0.3);  
    box-sizing:border-box; padding:25px 30px 15px;  color:#fff;
    overflow: hidden;

    &::after {
        content:''; display:block; width:120%; height:150%;
        background:rgba(255, 255, 255, 0.03);
        position:absolute; top:50px; left:80px;
        transform:rotate(38deg);
        z-index:1;
    }

    .inner {
        width:100%; height:400px;
        border:1px solid #fff; text-align: center;

        h1 {
            font:25px/1 "Playfair Display"; color:#a38348;
            text-align: center; letter-spacing:3px;
            margin-top:120px;
        }

        p {
            width:75%; display: inline-block;
            font:11px/1.6 "arial"; color:#bbb;
            text-align:center; margin-top:40px;
        }
    }
    .wrap {        
        float:left; position: relative; z-index:3;

        label {
            font:bold 12px/1 "맑은 고딕"; color:rgba(163, 131, 72, 0.7); margin-left:4px;
        }
    }
    .close {
        float:right; font:12px/2 "arial"; color:rgba(163, 131, 72, 0.7);
        position: relative; z-index:3;
    }
}